.diary-write-wrap {
  width: 28%;
  height: 100vh;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.diary-title {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.diary-write-btns {
  margin-top: 30px;
  text-align: center;
}

.diary-write-btns button {
  margin: 0 5px;
}
