.diary-write-wrap {
  position: relative;
  height: calc(100vh - 95px);
}

.diary-write-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.diary-write-title {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  border: 1px solid #d0d7de;
}

.diary-write-btns {
  margin-top: 30px;
  text-align: center;
}

.diary-write-btns button {
  margin: 0 5px;
}
