@font-face {
  font-family: "fontBold";
  src: url("./font/KBO\ Dia\ Gothic_bold.ttf") format("truetype");
}

@font-face {
  font-family: "fontMedium";
  src: url("./font/KBO\ Dia\ Gothic_medium.ttf") format("truetype");
}

@font-face {
  font-family: "fontLight";
  src: url(./font/KBO\ Dia\ Gothic_light.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: auto;
  padding: 0 100px;
  font-family: "fontLight";
}
