
.category {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.category-header {
  display: flex;
  justify-content: space-between;
}

.new-todo-input {
  display: flex;
  margin-top: 10px;
}

.todo-item {
  margin: 10px 0;
  border-top: 1px solid #e1e1e1;
  padding-top: 5px;
}
